# Lein automatic entries.
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
# Log files.
log
# Vagrant stuff.
.vagrant
# OS X stuff.
.DS_Store
# Vim swp files
*.swp
