.im-centered {
	margin: auto;
	max-width: 500px;
}

.im-centered-med {
	margin: auto;
	max-width: 600px;
}

.im-centered-wide {
	margin: auto;
	max-width: 750px;
}

.tab-group {
	margin-top: 15px;
	margin-bottom: 15px;
}

.red {
	color: #ff0000;
}

.btn-outline.btn-success {
	background-color: transparent;
	color: #5cb85c;
}

.btn-outline.btn-danger {
	background-color: transparent;
	color: #d9534f;
}

.btn-outline.btn-success:hover {
	color: #fff;
	background-color: #5cb85c;
}

.btn-outline.btn-danger:hover {
	color: #fff;
	background-color: #d9534f;
}
